.nav-toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-links,
.nav-user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-button {
  color: white !important;
  text-transform: none;
}

.nav-username {
  color: white;
  margin-right: 1rem;
}
